
body{
	position:relative;
}

.conteiner_tips{
	width: 250px;
	height: 150px;
	position: absolute;
	right: 20px;
	top: 5px;
	background-color: gray;
	font-size: 16px;	
	text-align: left;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid black;
}

.conteiner_tips h5{
	margin: 0;
	max-height: 20px;
}

.conteiner_tips p{
	margin: 0;
	max-height: 100px;
}

.conteiner_tips>div{
	display: flex;
	justify-content: space-between;
}

.arrow-dot-conteiner{
	display: flex;
	justify-content: space-between;
	color: white;
}

.arrow-dot-conteiner div{
	font-size: 8px;
	margin: 0 6px;
	display: flex;
	align-items: center;
}

.arrow-dot-conteiner div>i{
	margin: 0 3px;
}

.input-conteiner{
	font-size: 12px;
}

.pointer_dot{
	color: blue;
}

.hidden{
	display: none;
}